<header class="shell-header">
    <div class="left">
        <a class="trilha" href="#">trilha</a>
    </div>

    <div class="right">
        <a class="how-to-play" routerLink="/onboarding" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">como jogar</a>
        <ng-content select="[header-action]"></ng-content>
    </div>
</header>

<main class="shell-body">
    <video
        class="background-video"
        autoplay
        muted
        loop
        playsinline
        preload="auto"
    >
        <source src="assets/logo-animation.mp4" type="video/mp4">
    </video>

    <div class="shell-content">
        <ng-content></ng-content>
    </div>
</main>
