<div class="shell" [class.shell--wide]="wide()">
   

    <header class="shell-header">
        <div class="center-header">
            <div class="left">
                <a class="trilha" href="#">trilha</a>
            </div>

            <div class="right">

                <a class="studio-link" routerLink="/studio" routerLinkActive="active" ariaCurrentWhenActive="page">estúdio</a>

                <button class="how-to-play" type="button" aria-haspopup="dialog" routerLink="/history">
                    <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    aria-hidden="true"
                    focusable="false"
                    >
                        <path d="M12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83z"> 
                        </path>
                        <path d="M2 12a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 12"></path>
                        <path d="M2 17a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 17"></path>
                    </svg>
                    histórico
                </button>
                
                <button class="how-to-play" type="button" aria-haspopup="dialog" (click)="howToPlayDialog.open()">
                    <svg
                        class="how-to-play-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        aria-hidden="true"
                        focusable="false"
                    >
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                        <path d="M12 17h.01"></path>
                    </svg>
                    como jogar
                </button>
                
            </div>
        </div>
        
    </header>

    <app-how-to-play-dialog #howToPlayDialog></app-how-to-play-dialog>

    <main class="shell-body">
        <!-- <video
            class="background-video"
            autoplay
            muted
            loop
            playsinline
            preload="auto"
        >
            <source src="assets/logo-animation.mp4" type="video/mp4">
        </video> -->

        <div class="shell-content">
            <ng-content></ng-content>
        </div>
    </main>

</div>
